body {
text-align:center;
 font-family: 'Arial', sans-serif;
 margin: 20px;
 padding: 0;
 background-color:rgba(57,144,130,0.8);
 color: #333;
}

h1 {
background-color:white;

color: rgb(0, 0, 0);
font-size: 28px;
 margin-bottom: 20px;
}

a {
 text-decoration: none;
 color: #007bff;
 font-weight: bold;
 transition: color 0.3s ease;
 display: block;
 margin-bottom: 10px;
}

a:hover {
 color: #0056b3;
}
.btn {
	
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
   	text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}
